# Visual Studio 2015 user specific files
Widgets/.vs/

Widgets/Binaries/
Widgets/Intermediate/
Widgets/Saved/
Widgets.opensdf
Widgets.sdf
Widgets.sln
Widgets.v0.0001.suo
Widgets/DerivedDataCache/
*.opensdf